<form [formGroup] ="registrationForm">
  <table style="width:100%;">
    <tr style="background-color:chartreuse;">
      <td colspan="5" align="center">
        <h3>Registration Form</h3>
      </td>
    </tr>
    <br>
    <tr>
      <td style="width: 10%;"><label>user Name</label> </td>
      <td style="width: 35%;"><input type="text" class="form-control" formControlName="userName" [(ngModel)]="username"></td>
    </tr>
    <tr>
      <td style="width: 10%;"><label>Gender</label> </td>
      <td style="width: 35%;"><input type="text" class="form-control" formControlName="gender"></td>
    </tr>
    <tr>
      <td><label>Email</label> </td>
      <td><input type="text" class="form-control" name="txt_Email" formControlName="email"></td>
    </tr>
    <tr>
      <td colspan="5" align="center">
        <input type="submit" value="Submit" class="button" (click)="saveForm(registrationForm.value)" [disabled]="registrationForm.invalid" />
        <input type="button" value="Cancel" class="button" (click)="cancelForm()">
      </td>
    </tr>
  </table>

  {{username}}
</form>
